@mixin setTransition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


body {
  position: relative;
  overflow-x: hidden;

  &.__noscroll {
    overflow: hidden;
  }
}

.page-wrapper {
  padding-top: 4rem;
  padding-bottom: 3rem;

  &.big {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
