@mixin setTransition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


body {
  position: relative;
  overflow-x: hidden;

  &.__noscroll {
    overflow: hidden;
  }
}

.page-wrapper {
  padding-top: 1rem;
  padding-bottom: 5rem;

  &.big {
    padding-top: 0;
    // padding-bottom: 1rem;
  }
}

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus { outline: 0; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
