/*
** Common
*/
.banner {
  padding: 3rem;

  // titles
  &--title {
    font-size: 1.4rem;
    letter-spacing: 0.16rem;
    font-weight: bold;
  }

  &--subtitle {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  // content
  &--content {

  }

  // image

}
