.navigation--holder {
  padding-top: 1.5rem;
}

.close-button {
  top: 2rem;
}

.map_search {
  top: 3.5rem;
  height: calc(100% - 112px);
}

#searchKeyword {
  top: 5.1rem !important;
}

.pac-container {
  top: 121px !important;
}
