/*
** Navigation
*/

.navigation {

  &.top-bar {
    padding: 0 0.5rem;
  }

  &--holder {
    position: fixed;
    z-index: 900;
    width: 100%;
    top: 0;
    background-color: $nav-background-color;
    // border-bottom: 1px solid $nav-font-color;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);

    @include setTransition();

    &.__hidden {
      top: -3rem;
      @include setTransition();
    }
  }

  .menu &--listitem {
    display: inline-block;
    text-align: right;
  }

  .menu &--link,
  .menu &--user-link {
    padding: 1rem 0.5rem;
    color: $nav-font-color;
    @include setTransition();

    &:hover, &:focus, &:active {
      background-color: darken($nav-background-color, 5);
      // color: darken($nav-font-color, 10);
      // border-bottom: 1px solid $nav-font-color;;
      @include setTransition();
    }

    &.no_text {
      padding: 1rem;
    }

    @media screen and #{breakpoint(medium)} {
      padding: 1rem 1rem;

      &.no_text {
        padding: 1rem 2rem;
      }
    }
  }

  .menu &--icon {
    margin-right: 0.5rem;
    margin-top: -4px;

    &.no_text {
      margin-right: 0;
    }
  }

  // Button
  &--button {
    &-holder {
      text-align: right;

      &.left {
        text-align: left;
      }
    }
  }
}
