{{#if session.isAuthenticated}}
  {{menu-panel menuShowLogo=menuShowLogo menuHideAddNew=menuHideAddNew}}
{{else}}
  <div class="navigation--holder home">
    <div class="row">
      <div class="columns small-12">
        <nav class="row navigation">
          <div class="navigation--title small-7 medum-8 large-9 columns">
            <h1 class="site-title"><strong class="logo">{{#link-to "places"}}<img class="logo--svg"src="assets/images/finndis-icon.svg" alt="Finndis"> Finndis{{/link-to}}</strong></h1>
          </div>

          <div class="small-5 medum-4 large-3 columns">
            <a class="button expanded button_login" {{action 'login'}}>Login</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
{{/if}}
