<div class="guide row">
  <div class="columns small-12 medium-10 medium-offset-1">

    <div class="guide--article row align-middle">
      <div class="small-12 medium-6 columns">
        <h3 class="guide--title">Search &amp; save any place</h3>
        <p class="guide--content">
          Use the map to find any place you want.
          Drop a marker and spot the exact position you want to save.
          Or use the search box to find any kind of place listed on Google Map.
        </p>
      </div>
      <div class="small-12 medium-5 medium-offset-1 columns">
        <img src="assets/images/guide/maps.png" alt="Maps with marker" class="guide--image">
      </div>
    </div>

    <div class="guide--article row align-middle reversed">
      <div class="small-12 medium-6 medium-offset-1 columns">
        <h3 class="guide--title">Find your places in a second</h3>
        <p class="guide--content">
          Filter by labels or keywords and display only what you're looking for. Or display eveything.
        </p>
      </div>

      <div class="small-12 medium-5 columns">
        <img src="assets/images/guide/list.png" alt="Maps with marker" class="guide--image">
      </div>
    </div>

    <div class="guide--article row align-middle">
      <div class="small-12 medium-6 columns">
        <h3 class="guide--title">Open &amp; edit place's details</h3>
        <p class="guide--content">
          Open a place's details to access its information.
          Saving with Maps allows you to get some information automatically,
          but you can always update it, add missing information, or just delete everything.
          It's up to you!
        </p>
      </div>

      <div class="small-12 medium-5 medium-offset-1 columns">
        <img src="assets/images/guide/save-edit.png" alt="Maps with marker" class="guide--image">
      </div>
    </div>

    <div class="guide--article row align-middle reversed">
      <div class="small-12 medium-6 medium-offset-1 columns">
        <h3 class="guide--title">Edit your labels</h3>
        <p class="guide--content">
          Add, remove, edit your labels. No limitation, you can add as many labels as you want to create your own categories and organize your list.
        </p>
      </div>

      <div class="small-12 medium-5 columns">
        <img src="assets/images/guide/labels.png" alt="Maps with marker" class="guide--image">
      </div>
    </div>

  </div>
</div>
