<div class="tool_box--holder">
  <div class="row align-middle align-right">
    <div class="google_footer small-4 medium-5 columns">
      <img src="assets/images/powered-by-google/android/res/drawable-hdpi/powered_by_google_on_white.png" alt="powered-by-google" >
    </div>
    <div class="tool_box small-8 medium-7 columns">
      <div class="button-group tool_box--button-group">
        {{#link-to "map" class="button tool_box--button"}}<i class="tool_box--icon fa fa-plus"></i>New{{/link-to}}
        {{#link-to "help" class="button tool_box--button"}}Help <i class="tool_box--icon fa fa-question"></i>{{/link-to}}
      </div>
    </div>
  </div>
</div>
