<div class="tool_box--holder">
  <div class="row align-middle align-left">
    <div class="google_footer columns shrink">
      <img src="assets/images/powered-by-google/android/res/drawable-hdpi/powered_by_google_on_white.png" alt="powered-by-google" >
    </div>
  </div>
</div>
