{{main-header menuHideAddNew=true}}

<div class="page-wrapper row big">
  <div class="columns">
    <div class="map_search--holder row">
      <div class="columns medium-8 medium-offset-2">
        {{google-search latitude="34.851939" longitude="-82.399752"}}
      </div>
    </div>
  </div>
</div>
