<div class="page-wrapper row">
  <div class="columns">
    <div class="banner row">
      <div class="columns">
        <div class="banner--content">
          <h2 class="banner--title">Save everywhere</h2>
          <h3 class="banner--subtitle">Simplify your life by saving all the places you want to remember</h3>
        </div>
      </div>
    </div>
  </div>
</div>
