{{main-header menuShowLogo=true}}

<div class="page-wrapper row">
  <div class="columns">
    <div class="banner row">
      <div class="small-12 columns">
        <div class="banner--content">
          <h2 class="banner--title">Save everywhere</h2>
          <h3 class="banner--subtitle">Simplify your life by saving all the places you want to remember</h3>
        </div>
      </div>
    </div>

    {{#if session.isAuthenticated}}
    {{else}}
    <div class="row">
      <div class="small-6 small-offset-3 medium-4 medium-offset-4 large-4 large-offset-4 columns">
        <a class="button expanded button_login" {{action 'login'}}>Login / Signup</a>
      </div>
    </div>
    {{/if}}

    {{start-guide}}

  </div>
</div>
