{{main-header menuShowLogo=true}}

<div class="page-wrapper row big">
  <div class="columns">
    <div class="map_search--holder row">
      <div class="columns medium-8 medium-offset-2">
        {{place-map model=model latitude="34.851939" longitude="-82.399752"}}
      </div>
    </div>
  </div>
</div>

{{tool-box toolShowList=true}}
